*, body{
	margin: 0px;/*
	overflow-x: hidden;*/
}
body{
	display:flex;
	flex-direction:column;
}
/*header*/  
.head{
	display:flex;
}
.head{
	position:fixed;
	height:auto;
	width:100%;
	background-image :url("img/heroo");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	z-index: 999;
	padding: 17px 0px;
	font-family: 'Open Sans', sans-serif;
}
#logo{
	text-align: center;	width:46%;

	flex:1;
}
#logoo{
	width:230px;
	top:-50px;
	left:50px;
	position:absolute;
}
.menu{
	flex:4;
	text-align: right;
}
.nav-bar li{
	display:inline;
	padding-right: 15px;

}
.nav-toggle{
	display:none;
}
nav a{
	text-decoration: none;
	font-size: 1rem;
	text-transform:uppercase;
	color:rgba(255,255,255,0.9);
}
.nav-bar a:last-child{			/*REFER AFTERWARDS*/
	padding-left: 10px;
}
nav a:hover{
	color:#999 ; 
}

@media  screen and (max-width: 950px) {
	.head{
		display:flex;
		flex-direction: column;
		overflow:hidden;
		width:100%;
		height:auto;
		text-align: center;
		z-index:999;
		padding-bottom: 23px;
	}
	.menu{
		text-align: left;
	}
	.nav-bar li{
		display:block;
	}
	.nav-toggle{
		display:none;
	}
   .nav-toggle-label{
   	top:0px;
   	left: 0px;
   	height:100%;
   	margin: 0.5em 1.25em;		/*margin*/
	display: flex;
	align-items: center;
   }

   .nav-toggle-label span,
   .nav-toggle-label span::before,
   .nav-toggle-label span::after {
   	display: block;
   	background:rgba(255,255,255,0.7);							/*????? I have to click exactly otherwise it's not working...*/
   	height: 2.1px;
   	width: 23px;
	border-radius: 2px;
	position:relative;

   }

	.nav-toggle-label span::before,
	.nav-toggle-label span::after {
		content:'';
		position: absolute;
	}
	.nav-toggle-label span::before{
		bottom: 7px;
	}
	.nav-toggle-label span::after{
		top: 7px;
	}
	.menu{
		display:none;
		text-align: left;
	} 
	nav ul{
		padding: 0;
		list-style: none;
	}
	nav li{
		margin-bottom: 1em;
		margin-left: 1em; 
	}
	.nav-toggle:checked ~ .menu{
		display: block;
		padding-top:20px;
		padding-left: 0px;
	}
}

/* hero*/

.hero{
	background-image:url("img/hero.jpeg");
	width:100%;
	height:100vh;
	background-attachment: fixed;			/*parrallax*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
}
.hero-text{
	width: 100%;
	text-align:center;
	position: center;
	padding-top: 35vh;
	font-family: 'Playfair Display', serif;
}

.hero-text h1,.hero-text p,.hero-text button{
	padding: 5px;
	margin: 5px;
	color:rgba(0,0,0,0.8);
}
.hero-text h1{
	font-size: 5.5vw;
	color:rgba(0,0,0,0.7);
}
.hero-text p{
	font-size: 2vw;
}

.hero-text button{
	font-size: 2.25vw;
	background: transparent;

}
.hero-text button:hover{
	color: rgb(10,10,10);
}

/*body*/

.body-2{
	margin-top: 40px;
	display:flex;
	flex-direction: row;
}

.body-main{
		width:80%;
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-left: 50px;
}
.parts{
	width:50%;
/*	padding-left: 20px;
*/	margin-bottom:4vw;
	height:auto;
	display: flex;
	flex-direction: column;
}
.parts img,.parts a,.parts p{
	align-items: center;
}

.parts img{
	width:80%;
	height:17vw;
/*	padding:20px 0px 0px 20px;
*/}
.parts a{
	width:80%;
	padding:5px 0px 0px 0px;
	display:block;
	text-decoration: none;
	height:auto;
	color:#012E86;
	margin:0;
}
.parts a:hover{
	color:#5534DA;
}
.parts p{
	width:80%;
	height:auto;
	padding:10px 0px;
	margin:0;
}

.body-side{
	display:flex;
	flex-direction: column;
	width:20%;
	overflow:auto;
	border-left: 2px solid teal;
	border-left-style: dashed;
}
.side-parts{
	padding:20px 0px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.side-parts img{
	width:60%;
	background: rgba(255,245,240,0.5);
}
.body-side p{
	width:60%;
	color:#1A668B;
	padding-top: 10px;
}
.body-side p:hover{
	color:#AC2090;
}
@media screen and (min-width: 650px) and (max-width:800px) {
	.body-main{
		display:flex;
		flex-wrap: nowrap;
		flex-direction:column;
		height:200vh;
		overflow-y:auto;
		overflow-x: hidden;
		width:70%;
	}
	.body-side{
		width:30%;
	}
	.parts{
		width:100%;
		margin-bottom: 3vw;
		display: block;
	}
	.parts img{
		width:55vw;
		height:29vw;
	}
	.parts1{
		margin-top: 1664px;
	}

}

@media screen and (max-width:650px){
	.body-2{
		flex-direction: column;
	}
	.body-main{
		width:100%;
		height:auto;
		overflow-x:hidden;
		margin-left: 0.75vw;
	}
	.parts{
		padding:0px;
		margin-bottom: 3vw;
		width:100%;
		display:flex;
		flex-direction:column;
		align-items: center;
		justify-content: center;
	}
	.parts img{
		height:40vw;
	}
	.body-side{
		width:100%;
		margin:0px;
		display:flex;
		width:auto;
		flex-wrap:wrap;
		justify-content: center;
		overflow: hidden;
	}
	.side-parts{
		width:100%;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.side-parts img{
		margin: 0px;
	}
	.side-parts p{
		margin:0px;
	}
	.side-parts img{
		width:30vh;
		height:30vh;
	}
}

@media screen and (max-width: 950px) {
	.parts{
		margin-bottom:6vw; 
	}
}
@media screen and (max-width: 900px) {
	.parts{
		margin-bottom:10vw; 
	}
}
@media screen and (max-width:450px){
	.parts{
		margin-bottom: 5vw;
	}
}
@media screen and (max-width:390px){
	.parts{
		margin-bottom: 15vw;
	}
}
@media screen and (max-width:350px){
	.parts{
		margin-bottom: 20vw;
	}
}
@media screen and (max-width:320px){
	.parts{
		margin-bottom: 30vw;
	}
}
/*comments*/
.comments{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 5px;
	background: rgb(246,246,246);
}
@media  screen and (max-width: 600px) {
	.comments{
		flex-direction: column;
	}
}
.commenting{
	flex:1;
	display: flex;
	flex-direction: column;
	margin:25px;
	align-items: center;
}
.commenting p{
	padding-bottom: 10px;
	font-size: 1.75vw;
	color: rgba(30,59,93,1);
}
.commenting textarea{
	width:100%;
}
.commenting button{
	margin:10px 0px 3px 0px;
	background: transparent;
	color: rgba(30,59,93,1);
}
.review{
	flex:2;
	display:flex;
	margin:25px;
	align-items: center;
}
.review img{
	flex:1;
	width:4vw;
	height:19.5vw;
}
.review p{
	flex:2;
	padding:15px;
	font-size: 1.25em;
}
/*Footer*/

.foot{
/*	margin-top: 2vh;
*/	display:flex;
	height:15em;
	align-items: center;
/*	background:rgba(235,245,255,100);      first
	background: rgba(76,157,182,0.7);      niceblue
*/	background-image:linear-gradient(rgb(246,246,246),rgb(30,59,93));
	overflow:hidden;
}
.foot-top{
	display:flex;
	flex-direction: row;
	height:auto;
}
.foot-column1, .foot-column2 {
	list-style: none;
}
.foot-column1 li, .foot-column2 li{
	padding-top: 1em;
}
.foot-bottom{
	width:100%;
	display: inline-flex;
	text-align: right;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;	
}
@media screen and (min-width:600px ){
	.foot-top{
		flex:1;
	}
	.foot-column1, .foot-column2{
		flex:1;
	}
	.foot-bottom{
		flex:1;
	}
}
.foot-icons{
	height:auto;
	justify-content: center;
}
.foot-icons li{
	display:inline-flex;
	text-decoration: none;
	width:auto;
	padding:0px 20px;
	justify-content: center;
}
.fab{
	width:auto;
	font-size: 1.5em;
}
@media screen and (max-width: 600px){
	.foot-icons{
		padding: 0px;
		display:flex;
		justify-content:center;
		width:100%;
		align-items:flex-end;
	}
	.foot{
		flex-direction: column;
	}

}
@media screen and (max-width: 900px){
	.foot-icons{
		padding: 0px;
		display:flex;
		width:100%;
		align-items:flex-end;
	}
}

























